.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  overflow-x: auto;
  padding: 8px;
}

.card-image-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  margin-top: 2rem;
  flex: 0 0 auto;
  width: 30vh;
  height: 48vh;
  background-color: #fefefe;
  border: 2px solid #666;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(106, 97, 97, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.card .card-text {
  color: rgb(178, 15, 15);
  text-align: center;
  margin-top: 8px;
}

.card .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 8px;
}

.card .card-price {
  font-size: 1em;
  color: #666;
  margin-top: 4px;
}

.variant-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.variant-dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #aaa;
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.variant-dot.active {
  border-color: #222;
  background-color: #ffd700;
}



.cart-icon-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  z-index: 2;
  /* più alto per rimanere visibile */
  background: white;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.cart-icon-top-right:hover {
  background-color: #f0f0f0;
}