/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px 30px;
  position: relative;
  box-shadow: 0 2px 4px rgba(106, 97, 97, 0.1);
}

/* Sezioni generiche */
.nav-section {
  display: flex;
  flex: 1;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}



/* LOGO tutto a sinistra */
.logo {
  flex: 0 0 auto;
  margin-right: auto;
}

.imglogo {
  width: 80px;
  height: auto;
}

/* HOME tra logo e prodotti */

.home {
  color: rgb(255, 204, 0);
  font-size: 25px;
  text-decoration: none;
  margin-left: 50px;
}

.home:hover {
  border-bottom: 5px solid #d90007;
}

/* PRODOTTI centrato */
.prodotti {
  position: relative;
  justify-content: left;
  flex: 0;
}

.prodotti:hover {
  border-bottom: 5px solid #d90007;
}

.prodotti .dropdown-toggle {
  color: #fefefe;
  font-size: 20px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  list-style: none;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 140px;
}



.prodotti:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  transition: background-color 0.2s ease;
}

.dropdown-menu li:hover {
  border-bottom: 5px solid #d90007;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
}

/* ALLERGENI vicino a prodotti */
.allergeni {
  color: #fefefe;
  font-size: 25px;
  text-decoration: none;
}

.allergeni:hover {
  border-bottom: 5px solid #d90007;
}

/* PROMOZIONI vicino al campo di ricerca */
.promozioni {
  flex: 0 0 auto;
}

.promozioni {
  color: #fefefe;
  font-size: 25px;
  text-decoration: none;
}

.promozioni:hover {
  border-bottom: 5px solid #d90007;
}

/* SEARCH tutto a destra */
.search-area {
  flex: 0 0 auto;
  margin-left: auto;
  gap: 8px;
}

.search-input {
  padding: 6px 8px;
  border-radius: 3px;
  border: none;
  height: 20px;
}

.search-button {
  padding: 6px 10px;
  background-color: rgb(255, 204, 0);
  color: white;
  border: none;
  border-radius: 3px;
  height: 36px;
  cursor: pointer;
}