.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input {
    transition: width 0.3s ease;
    width: 200px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 6px 10px;
    color: #fefefe;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: transparent !important;
    /* azzera il background */
}


.search-button:hover {
    background-color: #d90007;
    /* rosso scuro */
    color: white;
}

.search-button.open {
    background-color: #d90007;
    /* rosso scuro */
    color: white;
}

.search-button.open svg {
    color: white;
}