* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dcdcdc;
}


html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}